body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
  }

  .card {
    border-radius: 15px;
}

.card-title {
    font-weight: bold;
}

#togglePassword {
    font-size: 18px;
    color: #007bff;
}

  .navbar {
    background-color: #007bff;
  }

  .navbar-brand,
  .nav-link {
    color: white !important;
  }

  .progress {
    height: 5px;
  }

  .contact-row:hover {
    background-color: #e9f5ff;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  #loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .img-nFound{
    opacity: 40%;
  }